body {
    max-width:500px;    
    margin:0 auto;
}

input{
    margin: 15px 0;
}
input#item,
input#item_amount{
    outline: 0;
    border-width: 0 0 2px;
}

input#item{
    width: 220px;
}

input#item_amount{
    width: 100px;
}

#total{
    font-size: 28px;
    font-weight: 700;
}

td{
    
}

.delete:hover{
    color:blue;
}